body {
  background-image: url('./images/parchment-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
}

button {
  background-color: #f1d592;
  margin: 8px;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
}

.styled-modal-body {
  background-image: url('./images/parchment-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.styled-modal-header {
  background-color: #f1d592;
}