 @font-face {
        font-family: "bleedingcowboy";
        src: url("../../fonts/Bleeding_Cowboys.ttf");
 }

 .styled-header {
        font-family: "bleedingcowboy";
 }

 .flag-bg {
        background-image: url("../../images/clouds.jpg");
        background-repeat: no-repeat;
        background-size: cover;
 }

 .flag-border {
        border-image: url("../../images/gear-border.png") 0 fill;
 }
